MergePythonClient
openai
supabase
fastapi==0.100.0
hypercorn==0.14.4
humanlayer
pymilvus
python-dotenv
sentence_transformers
logger
pydantic[email]
anthropic
langchain
langchain-openai
beautifulsoup4
lxml
requests
typeguard
einops
datasets
cerebras_cloud_sdk
discord
voyageai
praw==7.7.1  # Reddit API wrapper
e2b
uvicorn
loguru